@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.total {
  .total__content {
    .total__btns {
      img {
        width: 101.7px;
        height: 101.7px;
      }

      .total__a1 {
        color: rgb(3, 20, 18);
        font-family: "inter";
        font-size: 16px;
        font-weight: 800;
        line-height: 132.4%;

        span {
          color: rgb(3, 20, 18);
          font-family: "inter";
          font-size: 20px;
          font-weight: 600;
          line-height: 132.4%;
        }
      }
    }

    .total__block {
      .total__inputs {
        display: flex;
        align-items: center;

        input {
          width: 100%;
          height: 50px;
          color: rgb(161, 161, 161);
          font-family: "inter";
          font-size: 14px;
          font-weight: 600;
          line-height: 96.4%;
          padding-left: 5px;
        }

        button {
          width: 126px;
          height: 50px;
          background: linear-gradient(
            150.16deg,
            rgb(94, 57, 40) 9.684%,
            rgb(228, 161, 111) 92.003%
          );
          color: rgb(255, 255, 255);
          font-family: "inter";
          font-size: 14px;
          font-weight: 800;
          line-height: 96.4%;
        }
      }

      .total__text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          color: rgb(3, 20, 18);
          font-family: "inter";
          font-size: 35px;
          font-weight: 400;
          line-height: 96.4%;
        }

        span {
          color: rgb(3, 20, 18);
          font-family: "inter";
          font-size: 40px;
          font-weight: 800;
          line-height: 96.4%;
        }
      }

      .total__buttons {
        .total__delivery {
          display: flex;
          align-items: center;
          gap: 5px;

          .total__icon {
            width: 48px;
            height: 25.98px;
          }

          span {
            color: rgb(161, 161, 161);
            font-family: "inter";
            font-size: 16px;
            font-weight: 600;
            line-height: 116.4%;
          }
        }
      }

      button {
        width: 100%;
        height: 50px;
        background: linear-gradient(
          150.16deg,
          rgb(94, 57, 40) 20.575%,
          rgb(228, 161, 111) 92.968%
        );
        color: rgb(255, 255, 255);
        font-family: "inter";
        font-size: 18px;
        font-weight: 800;
        line-height: 96.4%;
      }
    }
  }
}
