.callback-search {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 10px;
  input {
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border-right: 1px solid #383634;
    font-size: 16px;
    &::placeholder {
      color: #383634;
      font-size: 16px;
    }
  }
  button {
    padding: 5px 10px;
    background-color: #383634;
    color: white;
    border-radius: 10px;
  }
}
