.catalog {
  &__container {
    .catalog__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .catalog__menu {
        display: flex;
        align-items: center;
        column-gap: 20px;
      }
    }
    .catalog__sidebar {
      margin-top: 30px;
      display: grid;
      grid-template-areas: "menu__categories card__list";
      gap: 20px;
    }
  }
}
