.sidebar {
  width: 207px;
  background-color: #f4f4f4;
  height: auto;
  padding: 20px;
  &__menu {
    list-style-type: none;
    height: 100%;
    li {
      a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
      }
    }
  }
}
